header > h1 {
  font-family: "Permanent Marker", cursive;
}
header > h3 {
  font-family: "Lobster", cursive;
}
#input {
  font-family: "Love Ya Like A Sister", cursive;
}
#result {
  font-family: "Rye", cursive;
}
.textPurple {
  color: blueviolet;
}

.btn-extra-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.7rem;
  line-height: 1.2;
  border-radius: 0.2rem;
}
